<nav class="navbar navbar-expand-sm navbar-expand-md navbar-expand-lg navbar-expand-xl navbar-dark navbar-style mb-4">
  <div class="container">
    <a routerLink="/" class="navbar-brand fa fa-home navbar-brand-style"></a>

    <ul class="navbar-nav mr-auto">
      <li *ngIf="userIsAuthenticated" class="nav-item">
        <span routerLinkActive="routerLinkActiveStyle" class="nav-link nav-name">Hello, {{ user.firstName }} {{ user.lastName }}</span>
      </li>
    </ul>
 
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
     
        <!-- <li *ngIf="userIsAuthenticated" class="nav-item">
          <a routerLink="/users" routerLinkActive="routerLinkActiveStyle" class="nav-link">רשימת משתמשים</a>
        </li>
        <li *ngIf="userIsAuthenticated" class="nav-item">
            <a routerLink="/posts" class="nav-link">רשימת פוסטים </a>
        </li>
        <li *ngIf="userIsAuthenticated" class="nav-item">
          <a routerLink="/books" class="nav-link">My Books </a>
      </li> -->
      

      <ul class="navbar-nav mx-auto">
          <li *ngIf="userIsAuthenticated" class="nav-item">
            <a routerLink="/search" class="nav-link">Search Item</a>
          </li>
          <li *ngIf="userIsAuthenticated" class="nav-item">
            <a routerLink="/my-closet" class="nav-link">My Closet</a>
          </li>
        </ul>

      <ul class="navbar-nav ml-auto">
        <li *ngIf="!userIsAuthenticated" class="nav-item">
          <a routerLink="/auth/signup" class="nav-link">Sign Up</a>
        </li>
        <li *ngIf="!userIsAuthenticated" class="nav-item">
          <a routerLink="/auth/login" class="nav-link">Login</a>
        </li>
        <li *ngIf="userIsAuthenticated" class="nav-item">
            <button (click)="onLogout()" class="nav-link nav-button">Logut</button>
          </li>
      </ul>
    </div>
  </div>
</nav>