




<app-item-form [itemsPerPageItemForm]="itemsPerPage" [currentPageItemForm]="currentPage" ></app-item-form>
<br>
<h1 class="my-closet-title">My Closet</h1>
<hr>
<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="items && !isLoading">
 <div class="card item-card-my-closet" *ngFor="let item of items">
    <div class="card-body">
      <div class="row">
          <div class="col-4 col-md-6">
              <p class="item-field-title"> {{ item.type }}</p>
              <hr>
              <p class="item-field">{{ item.size }}</p>
              <p class="item-field">{{ item.color }}</p>
              <p class="item-field">{{ item.gender }}</p>
              <p class="item-field">{{ item.city }}</p>
              <hr>
              <button *ngIf="userIsAuthanticated &&  item.userId === user.id" (click)="removeItem(item.id)" class="btn-remove"><i class="fa fa-remove"></i></button>
              <button *ngIf="userIsAuthanticated &&  item.userId === user.id"(click)="editItem(item)" class=" edit-item-button"><i class="fa fa-pencil"></i></button>  
          </div>
          <div class="item-image-container col-8 col-md-6">
              <img [src]="item.imagePath" [alt]="item.type">
            </div>
      </div>
    </div>
  </div>
</div>

  <mat-paginator class="my-closet-paginator" *ngIf="items"
  [length]="totalItems" 
  [pageSize]="itemsPerPage" 
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)">
  </mat-paginator>

  <p class="info-text" *ngIf="!isLoading && !items">You don't have any items in your closet!</p>

  <!-- <div col-md-6>
      <p> <a routerLink="" >{{ item.type }} </a></p>
      <p>{{ item.size }}</p>
      <p>{{ item.color }}</p>
      <p>{{ item.gender }}</p>
      <p>{{ item.city }}</p>
      <hr>
      <button *ngIf="userIsAuthanticated &&  item.userId === user.id" (click)="removeItem(item.id)" class="btn btn-danger"><i class="fa fa-remove"></i></button>
<!-- 
      <!-- <button (click)="editPost(book)" class="btn btn-light"><i class="fa fa-pencil"></i></button> -->  
  <!-- </div>
  <div item-image col-md-6>
     <img [src]="item.imagePath" [alt]="item.type">
  </div>  -->
